@model E_commercePIM.Controllers.CategoryIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Editor", new {id = 0})
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Products in Category
        </th>
    </tr>

@foreach (var item in Model.Categories) {
<tr>
    <td>
        <a href="@Url.Action("Editor", new {id = item.Id})">
            @Html.DisplayFor(modelItem => item.Name)
        </a>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductCount)
    </td>
</tr>
}

</table>
