@model IEnumerable<Webshop.UI.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

@section showcase {
    <div class="jumbotron">
        <div class="container">
            <h1>Webshop Example</h1>
            <p class="lead">This application is an example of a webshop/basic clone of amazon layout (but build from scratch)</p>
        </div>
    </div>
}

<div class="row">
    @foreach (var item in Model)
    {
        Html.RenderPartial("_ProductCard", item);
    }
</div>